{{ $interests := .Site.Data.interests }}

<section id="interests" class="aqua text-light">

I am a Postdoctoral Associate in the <a href="https://jacob-lab.yale.edu/"> Jacob Lab </a> at Yale University. I am interested in understanding the molecular underpinnings of plant development and how they can be manipulated for beneficial ends. My current work involves developing new tools for plant genome engineering, mainly in <i>Arabidopsis thaliana</i> but I also think about <i>Citrus</i> species. 
<br><br>
Previously I have recieved a PhD from The University of Auckland studying photoperiodic flowering <i>Medicago truncatula</i>. I also have a BA in English.
<br><br>
I enjoy reading about genome structure, synthetic biology and the philosophy of science and I like to dabble in bioiinformatics and data science.
<br><br>
When not doing science I like to explore new places on foot, listen to podcasts and browse second hand bookshops.


</section>