<section class="section teaching-section">
  <h2 class="section-title"><i class="fa {{ .Site.Params.teaching.icon }}"></i>{{ .Site.Params.teaching.title }}</h2>
    
  {{ range .Site.Params.course.list }}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">{{ .course }}</h3>
          <div class="time">{{ .dates }}</div>
            </div><!--//upper-row-->
            <div class="audience">{{ .audience }}</div>
            <div class="location">{{ .location }}</div>
              </div><!--//meta-->
              <div class="details">
                <p>{{ with .details }}{{ . | markdownify }}{{ end }}</p>
                </div><!--//details-->
                </div><!--//item-->
                {{ end }}
              
              </section><!--//section-->